<div class="row">
    
</div>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid ps-5 pe-5">
        <a class="navbar-brand" href="/"><img src="./icon_white.png"> Eye-X-Sys</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/diagnosa">Diagnosa</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/riwayat">Riwayat</a>
            </li>
        </ul>
        <div class="d-flex">
            <% if (locals.idUser) { %>
                <div class="dropdown">
                    <a class="text-light dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                    <%= locals.namaUser.split(' ')[0] %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item text-danger" href="/profile" style="text-decoration: none;">Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" href="/logout" style="text-decoration: none;">Logout</a>
                        </li>
                    </ul>
                </div>
            <% } else { %>
                <a class="text-light" href="/login" style="text-decoration: none;">Login</a>
            <% } %> 
        </div>
        </div>
    </div>
</nav>