<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="./icon.png" />

    <style>
    * {
        margin: 0;
        padding: 0;
    }

    body{
      background: rgb(255, 245, 245);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

      overflow-x: hidden;
    }

    .form-check-input:checked {
      background-color: #dc3545;
      border-color: #ffc0cb;
    }

    .form-switch .form-check-input:focus {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='pink'/%3e%3c/svg%3e");
    }

    .form-check-input:focus {
      border-color: #ffc0cb;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #ff707e80;
    }

    .form-control:focus {
        border-color: #ffc0cb;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #ff707e80;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 14px;
      /* background-color: #F5F5F5; */
      background-color: rgb(255, 228, 228);
    }

    /* Track */
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      /* background-color: #F5F5F5; */
      background-color: rgb(255, 228, 228);
      border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
      background-image: -webkit-linear-gradient(330deg, #eebac1 0%, #f5576c 100%);
      background-image: linear-gradient(120deg, #eebac1 0%, #f5576c 100%);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(255, 192, 198);
    }

    /* Checkbox */
    .checkbox-teal [type="checkbox"]:checked+label:before {
      border-color: transparent #009688 #009688 transparent;
    }

    .checkbox-warning-filled [type="checkbox"][class*='filled-in']:checked+label:after {
      border-color: #FF8800;
      background-color: #FF8800;
    }

    .checkbox-rounded [type="checkbox"][class*='filled-in']+label:after {
      border-radius: 50%;
    }

    .checkbox-living-coral-filled [type="checkbox"][class*='filled-in']:checked+label:after {
      border-color: #FF6F61;
      background-color: #FF6F61;
    }

    .checkbox-cerulean-blue-filled [type="checkbox"][class*='filled-in']:checked+label:after {
      border-color: #92aad0;
      background-color: #92aad0;
    }
    </style>

    <title><%= title %></title>
  </head>
  <body>
    <header>
      <%- include('user-nav') %>
    </header>
  
    <main>
      <div class="container" style="padding-top: 3.5rem;">
      </div>
      
      <!-- Error Container -->
      <div class="containter">
        <% if (error.length > 0) { %>
          <div class="row" style="padding: 2% 5% 0 5%;">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <%= error %>.
            </div>
          </div>
        <% } %>
      </div>
      
      <!-- Main Content -->
        <%- body %> 
    </main>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>