<div class="container-fluid" style="padding: 0;">
    <div class="row d-flex align-items-center" style="background-color: rgba(220, 53, 70, 0.95); height: 10rem;">
        <div class="col text-center text-light">
            <p>
                <a class="text-light" style="text-decoration: none;" href="/">Home</a>&emsp;•&emsp;
                <a class="text-light" style="text-decoration: none;" href="/diagnosa">Diagnosa</a>&emsp;•&emsp;
                <a class="text-light" style="text-decoration: none;" href="/riwayat">Riwayat</a>
            </p>
            <hr>
            <p>© 2022 - Vergyna</p>
            <img src="./icon_white.png">
        </div>
    </div>
    <!-- <div class="row d-flex align-items-center" style="background-color: #dc3545; height: 5rem;">
        <div class="col-6 text-light" style="padding: 0 0 0 10%;">
            <p><img src="./icon_white.png">&emsp;© 2022 - Valenoid</p>
        </div>
        <div class="col-6 text-light text-end" style="padding: 0 10% 0 0;">
            <p>
                <a class="text-light" style="text-decoration: none;" href="">Home</a>&emsp;
                <a class="text-light" style="text-decoration: none;" href="">Diagnosa</a>&emsp;
                <a class="text-light" style="text-decoration: none;" href="">Riwayat</a>
            </p>
        </div>
    </div> -->
</div>