<div class="container-fluid" style="padding: 5% 10% 5% 10%;">
  <div class="row">
    <h3 class="text-danger mb-3">Mulai Diagnosa</h3>
    <h6 class="text-secondary mb-5">Jawablah pertanyaan di bawah ini sesuai dengan kondisi anda.</h6>
    <form method="POST" action="/diagnosa" class="">
        <!-- <div class="mb-4">
          <label for="flexSwitchCheckDefault1" class="form-label">1. Apakah penglihatan anda terasa buram?</label>
          <div class="form-check">
            <div class="input-group">
              <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
              <label class="btn btn-outline-danger" for="success-outlined" style="width: 75px; height: 35px; border-radius: 10px 0 0 10px;">Tidak</label>
  
              <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
              <label class="btn btn-outline-danger" for="danger-outlined" style="width: 75px; height: 35px; border-radius: 0 10px 10px 0;">Ya</label>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault1" class="form-label">1. Apakah penglihatan anda terasa buram?</label>
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="btn-check-outlined" style="width: 75px; height: 35px; border-radius: 10px 10px 10px 10px;">Ya</label><br>
          </div>
        </div> -->
        <div class="mb-4">
          <label for="flexSwitchCheckDefault1" class="form-label">1. Apakah penglihatan anda terasa buram?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G01" value="G01" type="checkbox" id="flexSwitchCheckDefault1">
            <label class="form-check-label" for="flexSwitchCheckDefault1"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault2" class="form-label">2. Apakah mata anda mudah tegang dan lelah?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G02" value="G02" type="checkbox" id="flexSwitchCheckDefault2">
            <label class="form-check-label" for="flexSwitchCheckDefault2"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault3" class="form-label">3. Apakah kepala anda sakit?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G03" value="G03" type="checkbox" id="flexSwitchCheckDefault3">
            <label class="form-check-label" for="flexSwitchCheckDefault3"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault4" class="form-label">4. Apakah anda merakasakan nyeri atau sakit di bagian mata?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G04" value="G04" type="checkbox" id="flexSwitchCheckDefault4">
            <label class="form-check-label" for="flexSwitchCheckDefault4"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault5" class="form-label">5. Apakah benda dengan jarak yang jauh terlihat kabur, namun nampak jelas jika dilihat dari dekat?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G05" value="G05" type="checkbox" id="flexSwitchCheckDefault5">
            <label class="form-check-label" for="flexSwitchCheckDefault5"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault6" class="form-label">6. Apakah benda dengan jarak yang dekat terlihat kabur, namun tampak jelas jika dilihat dari jauh?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G06" value="G06" type="checkbox" id="flexSwitchCheckDefault6">
            <label class="form-check-label" for="flexSwitchCheckDefault6"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault7" class="form-label">7. Apakah anda kesulitan saat membaca?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G07" value="G07" type="checkbox" id="flexSwitchCheckDefault7">
            <label class="form-check-label" for="flexSwitchCheckDefault7"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault8" class="form-label">8. Apakah anda kesulitan membaca tulisan dengan huruf yang dicetak halus atau kecil?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G08" value="G08" type="checkbox" id="flexSwitchCheckDefault8">
            <label class="form-check-label" for="flexSwitchCheckDefault8"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault9" class="form-label">9. Apakah usia anda diatas 40 tahun?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G09" value="G09" type="checkbox" id="flexSwitchCheckDefault9">
            <label class="form-check-label" for="flexSwitchCheckDefault9"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault10" class="form-label">10. Apakah anda kesulitan melihat pada malam hari?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G10" value="G10" type="checkbox" id="flexSwitchCheckDefault10">
            <label class="form-check-label" for="flexSwitchCheckDefault10"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault11" class="form-label">11. Apakah penglihatan anda buram saat melihat benda baik dengan jarak yang dekat maupun jauh?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G11" value="G11" type="checkbox" id="flexSwitchCheckDefault11">
            <label class="form-check-label" for="flexSwitchCheckDefault11"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault12" class="form-label">12. Apakah penglihatan anda kurang jelas seperti terdapat kabut yang menhalangi?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G12" value="G12" type="checkbox" id="flexSwitchCheckDefault12">
            <label class="form-check-label" for="flexSwitchCheckDefault12"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault13" class="form-label">13. Apakah anda sering mengganti ukuran kacamata?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G13" value="G13" type="checkbox" id="flexSwitchCheckDefault13">
            <label class="form-check-label" for="flexSwitchCheckDefault13"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault14" class="form-label">14. Apakah nampak seperti pelangi yang melingkar saat anda melihat lampu atau sumber cahaya</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G14" value="G14" type="checkbox" id="flexSwitchCheckDefault14">
            <label class="form-check-label" for="flexSwitchCheckDefault14"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault15" class="form-label">15. Apakah radius penglihatan anda menyempit sehingga tidak dapat melihat objek sama sekali?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G15" value="G15" type="checkbox" id="flexSwitchCheckDefault15">
            <label class="form-check-label" for="flexSwitchCheckDefault15"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault16" class="form-label">16. Apakah anda merasa mual atau ingin muntah?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G16" value="G16" type="checkbox" id="flexSwitchCheckDefault16">
            <label class="form-check-label" for="flexSwitchCheckDefault16"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault17" class="form-label">17. Apakah anda kehilangan fungsi penglihatan pada salah satu mata anda?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G17" value="G17" type="checkbox" id="flexSwitchCheckDefault17">
            <label class="form-check-label" for="flexSwitchCheckDefault17"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault18" class="form-label">18. Apakah nampak bentuk-bentuk tidak wajar yang melayang atau kilatan cahaya?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G18" value="G18" type="checkbox" id="flexSwitchCheckDefault18">
            <label class="form-check-label" for="flexSwitchCheckDefault18"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault19" class="form-label">19. Apakah mata anda terasa gatal dan berair?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G19" value="G19" type="checkbox" id="flexSwitchCheckDefault19">
            <label class="form-check-label" for="flexSwitchCheckDefault19"></label>
          </div>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault20" class="form-label">20. Apakah mata anda peka terhadap cahaya nampak?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" name="G20" value="G20" type="checkbox" id="flexSwitchCheckDefault20">
            <label class="form-check-label" for="flexSwitchCheckDefault20"></label>
          </div>
        </div>
        <br>
        <% if (!locals.namaUser) { %>
          <p class="text-secondary" style="font-size: 1rem;">*Riwayat diagnosa <span class="text-danger">tidak</span> akan disimpan, harap lakukan login untuk menyimpan riwayat</p>
        <% } %>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
  </div>
</div>