<form method="POST" action="/diagnosa" class="mt-5 mb-5">
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">1. Apakah penglihatan anda terasa buram?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G01" value="G01" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">2. Apakah mata anda mudah tegang dan lelah?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G02" value="G02" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">3. Apakah kepala anda sakit?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G03" value="G03" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">4. Apakah anda merakasakan nyeri atau sakit di bagian mata?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G04" value="G04" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">5. Apakah benda dengan jarak yang jauh terlihat kabur, namun nampak jelas jika dilihat dari dekat?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G05" value="G05" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">6. Apakah benda dengan jarak yang dekat terlihat kabur, namun tampak jelas jika dilihat dari jauh?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G06" value="G06" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">7. Apakah anda kesulitan saat membaca?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G07" value="G07" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">8. Apakah anda kesulitan membaca tulisan dengan huruf yang dicetak halus atau kecil?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G08" value="G08" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">9. Apakah usia anda diatas 40 tahun?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G09" value="G09" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">10. Apakah anda kesulitan melihat pada malam hari?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G010" value="G010" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">11. Apakah penglihatan anda buram saat melihat benda baik dengan jarak yang dekat maupun jauh?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G011" value="G011" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">12. Apakah penglihatan anda kurang jelas seperti terdapat kabut yang menhalangi?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G012" value="G012" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">13. Apakah anda sering mengganti ukuran kacamata?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G013" value="G013" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">14. Apakah nampak seperti pelangi yang melingkar saat anda melihat lampu atau sumber cahaya</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G014" value="G014" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">15. Apakah radius penglihatan anda menyempit sehingga tidak dapat melihat objek sama sekali?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G015" value="G015" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">16. Apakah anda merasa mual atau ingin muntah?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G016" value="G016" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">17. Apakah anda kehilangan fungsi penglihatan pada salah satu mata anda?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G017" value="G017" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">18. Apakah nampak bentuk-bentuk tidak wajar yang melayang atau kilatan cahaya?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G018" value="G018" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">19. Apakah mata anda terasa gatal dan berair?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G019" value="G019" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    <div class="mb-3">
      <label for="flexSwitchCheckDefault" class="form-label">20. Apakah mata anda peka terhadap cahaya nampak?</label>
      <div class="form-check form-switch">
        <input class="form-check-input" name="G020" value="G020" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>