<div class="container-fluid" style="padding: 55px 10% 5% 10%">
  <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
    <div class="row mt-5">
      <div class="col text-center text-danger">
        <h1><i class="bi bi-activity"></i></h1>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h3 class="text-danger mb-3">Mulai Diagnosa</h3>
        <h6 class="text-secondary mb-3">
          Jawablah pertanyaan berikut ini sesuai dengan kondisi mata anda.
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <% if (!locals.namaUser) { %>
        <p class="text-secondary" style="font-size: 1rem">
          *Riwayat diagnosa <span class="text-danger">tidak</span> akan
          disimpan, harap lakukan <a class="text-danger" href="/login">login</a> untuk menyimpan riwayat.<br />Tekan
          tombol <span class="text-danger">lanjut</span> untuk melanjutkan.
        </p>
        <% } else { %>
        <p class="text-secondary" style="font-size: 1rem">
          Tekan tombol <span class="text-danger">lanjut</span> untuk
          melanjutkan.
        </p>
        <% } %>
        <a
          type="submit"
          class="btn btn-danger mt-2"
          href="/pertanyaan"
          style="width: 8rem"
          ><i class="bi bi-hexagon-half"></i> Lanjut</a
        >
      </div>
    </div>
  </div>
</div>
<br>