<div class="container-fluid" style="padding: 0;">
  <div class="row" style="background-image: url(./home_bg.jpg); background-size: cover; height: 500px;">
    <div class="col-7">
      <h3 class="text-center text-primary mt-5">
        Selamat Datang
      </h3>
    </div>
    <div class="col-5">
      <img src="" alt="" style="height: 100px;">
    </div>
  </div>
</div>