<div class="container-fluid mb-5" style="padding: 0;">
  <div class="row d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(./home_bg.webp); background-size: cover; height: 38rem;" data-aos="fade-down">
    <div class="row">
      <div class="col text-center pb-3" data-aos="fade-down" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('');">
        <!-- <img src="./icon.png" alt=""> -->
        <div class="p-4">
          <!-- <h4 class="text-danger mb-3">Sistem Pakar</h4> -->
          <h2 class="text-danger display-5" style="font-family: Georgia, 'Times New Roman', Times, serif;"><b>Diagnosa Awal Penyakit Mata</b></h2>
          <!-- <p class="text-danger display-6 fs-bold">
              Diagnosa Awal Penyakit Mata
            </p> -->
            <h5 class="text-danger">
              "Untuk membantu Anda dalam mendiagnosa penyakit mata."
            </h5>
            <a class="btn btn-danger mt-4" href="/diagnosa" style="width: 8rem"><i class="bi bi-eyedropper"></i> Diagnosa</a>
            <!-- <h3 class="text-danger display-6">
              <% if (locals.namaUser) { %>
                Selamat Datang, <%= locals.namaUser.split(' ')[0]  %>
              <% } else { %>
                Selamat Datang
              <% } %> 
            </h3>
            <p class="text-danger display-6" style="font-size: 1.3rem;">
                Beauty is in The Eye of The beholder
            </p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 5% 10% 5% 10%;">
    <div class="col d-flex justify-content-center p-3" data-aos="fade-up">
      <div class="card text-center p-3" style="width: 18rem;">
        <h1 class="text-danger pt-5 display-6"><i class="bi bi-eye-fill"></i></h1>
        <div class="card-body pb-5">
          <p class="card-title text-danger" style="font-size: 1.2rem;">Apa itu Eye-X-Sys?</p>
          <p class="text-muted">- - -</p>
          <p class="card-text text-muted text-start">Eye-X-Sys merupakan sistem pakar yang dirancang untuk mendeteksi penyakit mata. pada manusia. Namun hanya terbatas pada 5 jenis penyakit mata yaitu, Refraksi Mata, Katarak,  Ablasio, Glaukoma, Konjungtivitis.</p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center p-3" data-aos="fade-up">
      <div class="card text-center p-3" style="width: 18rem;">
        <h1 class="text-danger pt-5 display-6"><i class="bi bi-diagram-3-fill"></i></h1>
        <div class="card-body pb-5">
          <p class="card-title text-danger" style="font-size: 1.2rem;">Cara kerja Eye-X-Sys?</p>
          <p class="text-muted">- - -</p>
          <p class="card-text text-muted text-start">Eye-X-Sys melakukan diagnosa penyakit menggunakan metode forward chaining berdasarkan gejala yang dipilih user sebagai input. Selanjutnya Eye-X-Sys menggunakan metode backward chaining untuk mencari solusi dari penyakit yang berhasil didiagnosa.</p>
        </div>
      </div>
    </div>  
    <div class="col d-flex justify-content-center p-3" data-aos="fade-up">
      <div class="card text-center p-3" style="width: 18rem;">
        <h1 class="text-danger pt-5 display-6"><i class="bi bi-exclamation-circle-fill"></i></h1>
        <div class="card-body pb-5">
          <p class="card-title text-danger" style="font-size: 1.2rem;">Perhatian!</p>
          <p class="text-muted">- - -</p>
          <p class="card-text text-muted text-start">Sistem ini tidak dapat menggantikan peran ahli yang sebenarnya dalam hal ini dokter mata. System ini hanya melakukan diagnosa awal dengan tujuan untuk mencegah penyakit agar tidak lebih parah.</p>
        </div>
      </div>
    </div>
  </div>
</div>