<form class="mt-5">
  <a href="/diagnosa">
    <p class="btn btn-primary">Diagnosa</p>
  </a>
  <a href="/riwayat">
    <p class="btn btn-primary">Riwayat</p>
  </a>
  <a href="/informasi"> 
    <p class="btn btn-primary">Informasi</p>
  </a>
  <a href="/logout"> 
    <p class="btn btn-danger">Logout</p>
  </a>
</form>