<div class="container-fluid mb-5" style="padding: 0;">
  <div class="row  d-flex align-items-center" style="background-image: linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.0)), url(./home_bg.png); background-size: cover; height: 35rem;">
    <div class="col-6">
      <div class="containter" style="padding: 0 5% 0 30%;">
        <h3 class="text-danger">
          <% if (locals.namaUser) { %>
            Dear <%= locals.namaUser  %>, Fuck You!
          <% } else { %>
            Dear Traveler, Fuck You!
          <% } %> 
        </h3>
        <h6 class="text-danger">
          - Paimon
        </h6>
        <a class="btn btn-danger mt-4" href="/diagnosa">Diagnosa</a>
      </div>
    </div>
    <div class="col-6">
      <img src="" alt="" style="height: 100px;">
    </div>
  </div>
  <div class="row" style="padding: 5% 10% 5% 10%;">
    <div class="col d-flex justify-content-center p-3">
      <div class="card text-center p-3" style="width: 18rem;">
        <h1 class="text-danger pt-5 display-4"><i class="bi bi-eye"></i></h1>
        <!-- <img src="./card.png" class="card-img-top" alt="..."> -->
        <div class="card-body pb-5">
          <h5 class="card-title text-danger">What is Eye-X-Sys?</h5>
          <p class="card-text text-secondary">Eye-X-Sys merupakan sistem pakar yang dirancang untuk mendeteksi penyakit mata. lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center p-3">
      <div class="card text-center p-3" style="width: 18rem;">
        <h1 class="text-danger pt-5 display-4"><i class="bi bi-cpu"></i></h1>
        <!-- <img src="./card.png" class="card-img-top" alt="..."> -->
        <div class="card-body pb-5">
          <h5 class="card-title text-danger">How it work?</h5>
          <p class="card-text text-secondary">Eye-X-Sys melakukan diagnosa penyakit menggunakan metode forward chaining berdasarkan gejala yang dipilih user sebagai input. Selanjutnya Eye-X-Sys menggunakan metode backward chaining untuk mencari solusi dari penyakit berhasil didiagnosa berdasarkan input yang sama.</p>
        </div>
      </div>
    </div>  
    <div class="col d-flex justify-content-center p-3">
      <div class="card text-center p-3" style="width: 18rem;">
        <!-- <img src="./card.png" class="card-img-top" alt="..."> -->
        <h1 class="text-danger pt-5 display-4"><i class="bi bi-exclamation-circle"></i></i></h1>
        <div class="card-body pb-5">
          <h5 class="card-title text-danger">Attention!</h5>
          <p class="card-text text-secondary">System tidak dapat menggantikan peran ahli yang sebenarnya dalam hal ini dokter mata. System ini hanya melakukan diagnosa dini dengan tujuan untuk mencegah.. lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 0 10% 5% 10%;">
    <h3 class="text-danger">How to use?</h3>
  </div>
</div>