<div class="container-fluid" style="padding: 5% 10% 5% 10%;">
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <h3 class="text-danger mb-3">Password Recovery</h3>
            <form action="/password" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= email %>" aria-describedby="emailHelp" required readonly>
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Verification Code</label>
                    <input type="text" class="form-control" id="code" name="code" value="<%= code %>" required readonly>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                </div>
                <p class="form-text">Back to <a class="text-danger" href="/login">Login</a></p>
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>
        </div>
    </div>
</div>