<div class="container-fluid" style="padding: 55px 10% 5% 10%">
  <div
    class="row justify-content-center"
    data-aos="fade-down"
    data-aos-duration="750"
  >
    <!-- <div class="row text-center">
      <div class="col">
        <img src="./icon.png" />
      </div>
    </div> -->
    <div class="row mt-5">
      <div class="col text-center text-danger">
        <h2><i class="bi bi-question-lg"></i></h2>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <h5 class="text-danger">Pertanyaan <%= gejala.slice(1,3) %></h5>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h4 class="text-secondary"><%= pertanyaan %></h4>
      </div>
    </div>
    <div class="row justify-content-center text-center mt-3">
      <div class="col-md-3 col-sm-12 m-3">
        <% if (gejala === "G20") { %>
        <form action="/diagnosa" method="post">
          <input type="hidden" name="ya" value="true" />
          <button type="submit" class="btn btn-danger" style="width: 8rem">
            <i class="bi bi-check-lg"></i> Ya
          </button>
        </form>
        <% } else { %>
        <form action="/pertanyaan" method="post">
          <input type="hidden" name="ya" value="true" />
          <input type="hidden" name="gejala" value="<%= gejala %>" />
          <button type="submit" class="btn btn-danger" style="width: 8rem">
            <i class="bi bi-check-lg"></i> Ya
          </button>
        </form>
        <%}%>
      </div>
      <div class="col-md-3 col-sm-12 m-3">
        <% if (gejala === "G20") { %>
        <form action="/diagnosa" method="post">
          <button
            type="submit"
            class="btn btn-outline-danger"
            style="width: 8rem"
          >
            <i class="bi bi-x-lg"></i> Tidak
          </button>
        </form>
        <% } else { %>
        <form action="/pertanyaan" method="post">
          <input type="hidden" name="gejala" value="<%= gejala %>" />
          <button
            type="submit"
            class="btn btn-outline-danger"
            style="width: 8rem"
          >
            <i class="bi bi-x-lg"></i> Tidak
          </button>
        </form>
        <%}%>
      </div>
    </div>
  </div>
</div>
