<form method="POST" action="/recovery" class="mt-5">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
      </div>
      <p class="form-text">Back to <a href="/login">Login</a></p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>