<div class="container-fluid" style="padding: 0;">
    <div class="row p-5">
        <h3 class="text-danger">Riwayat</h3>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Penyakit</th>
                <th scope="col">Waktu</th>
              </tr>
            </thead>
            <tbody>
                <% riwayat.forEach((e,i) => { %>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= e.penyakit %></td>
                        <td><%= e.createdAt.toLocaleString('id') %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>