<div class="container-fluid" style="padding: 55px 10% 5% 10%">
  <div class="row">
    <h3 class="text-danger mb-3">Riwayat Diagnosa</h3>
    <h6 class="text-secondary mb-4">A/n. <%= locals.namaUser %></h6>
    <table class="table table-hover">
      <thead>
        <tr class="text-danger">
          <th scope="col" style="width: 1rem">No</th>
          <th scope="col" style="width: 5rem">Penyakit</th>
          <th scope="col" style="width: 5rem">Waktu</th>
          <th scope="col" style="width: 5rem">Detail</th>
        </tr>
      </thead>
      <tbody>
        <% riwayat.forEach((e,i) => { %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td>
            <h6>
              <% if(e.penyakit === "Rabun Jauh") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.alodokter.com/rabun-jauh"
                >Rabun Jauh</a
              >
              <% } else if(e.penyakit === "Rabun Dekat") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.halodoc.com/kesehatan/rabun-dekat"
                >Rabun Dekat</a
              >
              <% } else if(e.penyakit === "Silinder") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://hellosehat.com/mata/gangguan-penglihatan/mata-silinder/"
                >Silinder</a
              >
              <% } else if(e.penyakit === "Mata Tua") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.alodokter.com/presbiopi"
                >Mata Tua</a
              >
              <% } else if(e.penyakit === "Katarak") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.halodoc.com/kesehatan/katarak"
                >Katarak</a
              >
              <% } else if(e.penyakit === "Glaukoma") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.alodokter.com/glaukoma"
                >Glaukoma</a
              >
              <% } else if(e.penyakit === "Ablasio") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.alodokter.com/ablasi-retina"
                >Ablasio</a
              >
              <% } else if(e.penyakit === "Konjungtivitis") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.halodoc.com/kesehatan/konjungtivitis"
                >Konjungtivitis</a
              >
              <% } else if (e.penyakit === "Tidak ada penyakit dengan kemungiknan diatas 65%.") { %>
                Tidak Terdeteksi
              <% } else { %>
                Tidak Terdeteksi
              <% } %>
            </h6>
          </td>
          <td>
            <%= e.createdAt.toLocaleString('id', {weekday: 'long',
            day:'numeric', month: 'long', year: 'numeric'}) %>
          </td>
          <td>
            <a
              class="text-danger"
              style="text-decoration: none"
              href="/<%= e.id %>"
            >
              Detail
            </a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
